.button1{
    width: 30vw;
    height: 20vw;
    border-radius: 0.5em;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 3.5em;
    background-color: dodgerblue;
    border: 0;
}

.button2{
    width: 20vw;
    height: 10vw;
    border-radius: 0.5em;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 1em;
    background-color: dodgerblue;
    border: 0;
}