@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
        p{
            display: inline-block;
            font-family: 'Nanum Myeongjo', serif;
            font-size: 10pt;
        }
        
        .radio input[type="radio"]{
            display:none;
          }
          
          .radio input[type="radio"] + span{
            font-size: 7pt;
            display:inline-block;
            border:1px solid #dfdfdf;  
            border-radius: 1em;
            padding:0;
            text-align:center;
            width: 18%;
            height: 20px;
            line-height:20px;
            font-weight:300;
          }
          
          .radio input[type="radio"]:checked + span{
            border:1px solid #1e90ff;
            background:dodgerblue;
            color:#fff;
          }
        @media screen and (min-width:350px) {
            .radio input[type="radio"] + span{
                font-size: 7pt;
                width: 15%;
                height: 30px;
                line-height:30px;
            }
        }
        @media screen and (min-width: 700px){
            .radio input[type="radio"] + span{
                font-size: 15pt;
                width: 15%;
                height: 70px;
                line-height:70px;
            }
            p{
                font-size: 30pt;
            }
        }